* {
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Karla', san-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.button-container {
  padding: 20px;
  display: flex;
  align-items: center;
}

.score-container {
  margin-left: 10px;
}

.score-container > p {
  padding: 0;
  font-size: 14px;
  margin: 5px;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.dice-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.roll-btn {
  font-size: 16px;
  padding: 5px 20px;
  color: #FFFFFF;
  background-color: #5035FF;
  border-radius: 50px;
}
